%h1 Diversions

.what_to_do
  %h2 What would you like to do?
  = link_to 'Recommend something for me', '#', :class => 'recommend_activity'
  = link_to 'Add an activity', '#', :class => 'add_activity'


.recommend_me_something{ :style => 'display: none;' }
  %h2 We recommend you..

.add_an_activity{ :style => 'display: none;'}
  %p Add an Activity!
  = simple_form_for Activity.new do |f|
    = f.text_field :description
    = f.text_field :add_tags
    = f.submit


- @activities.each do |activity|
  %p= activity.description